@model WebAppWithSagar.Models.People

@{
    ViewBag.Title = "AddPerson";
}

<div><h2 style="align-items:center" float:right>AddPerson</h2></div>

@using (Html.BeginForm())
{
    <div style="float:left;margin:10px;clear:right">
        @Html.EditorForModel()
    </div>
    <input type="submit" value="Add" style="float:left;clear:both" />
}

@section ScriptHeader{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
}

@section ScriptFooter{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@section Menu{
    <h3>Menu</h3>
    @Html.ActionLink("Get all records", "GetPeople")
    <br />
    @Html.ActionLink("Search a record", "SearchPeople")
    <br />
    @Html.ActionLink("Add a record", "AddPerson")
    <br />
    @Html.ActionLink("Update a record", "ChangePersonInfo")
    <br />
    @Html.ActionLink("Remove a record", "RemovePerson")
}