@model WebAppWithSagar.Models.People

@{
    ViewBag.Title = "SearchPeople";
}

<h2>SearchPeople</h2>

@using (Html.BeginForm())
{
    <div style="float:left;margin:10px;clear:right">
        Enter ID : @Html.TextBoxFor(x => x.Id)
    </div>
    <input type="submit" value="Search" style="float:left;clear:both" />
}

@using (Html.BeginForm())
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>@Model.Job</td>
                </tr>
        </tbody>
    </table>
}

@section ScriptHeader{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
}

@section ScriptFooter{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@section Menu{
    <h3>Menu</h3>
    @Html.ActionLink("Get all records", "GetPeople")
    <br />
    @Html.ActionLink("Search a record", "SearchPeople")
    <br />
    @Html.ActionLink("Add a record", "AddPerson")
    <br />
    @Html.ActionLink("Update a record", "ChangePersonInfo")
    <br />
    @Html.ActionLink("Remove a record", "RemovePerson")
}